# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
/.vs
/out/build
/CMakeSettings.json
/build/benchmark
/build/test
/build/NinjaMultiConfig/benchmark
/build/NinjaMultiConfig/test
/build/NinjaMultiConfig/test-asan
/build/NinjaMultiConfig/no-test
/Testing/Temporary
